header {
  font-family: "Patua One", cursive;
}
p {
  font-family: "Karla", sans-serif;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1 {
  font-family: "Patua One", cursive;
}
h2 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
}
.cvDownload a {
  display: inline-flex;
  font-family: "Patua One", cursive;
  background: #8ac53f;
  padding: 10px 15px;
  color: #012169;
}

.myTechSkills ul,
.mySoftSkills ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 0;
}
.myTechSkills ul li,
.mySoftSkills ul li {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  list-style-type: none;
  padding: 5px 10px;
  border: 1px solid #8ac53f;
  border-radius: 8px;
  margin: 0 10px 10px 0;
  color: #8ac53f;
  text-transform: uppercase;
}
nav,
section {
  padding: 0.5rem 1rem;
}
nav {
  display: flex;
  justify-content: center;
  padding-left: 0;
  flex-wrap: wrap;
}
nav button {
  margin: 0 20px;
  flex-basis: auto;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 1.08em;
  height: 48px;
}
nav button a {
  color: #ffd100;
}
.toots {
  height: 100%;
  margin: auto;
  grid-template-columns: 40px 50px auto 50px 40px;
}

.portfolioCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cardItem {
  width: 30%;
  margin-right: 10px;
}
.cardItem:last-child {
  margin-right: 0;
}
.cardItem img {
  width: 100%;
}
.cardItem h4 {
  line-height: 28px;
}
body {
  background-color: #012169;
  color: #ffd100;
}
section {
  margin: 20px 0;
}
.contentBoundary {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.role {
  background: #04153b;
  padding: 10px 10px;
  margin: 10px auto;
  border-radius: 4px;
}
.current {
  border: 2px solid #8ac53f;
}
.past {
  border: 2px solid #4a7be9;
}

.schooling {
  background: #4a7be9;
  color: #012169;
  padding: 10px 10px;
  margin: 10px auto;
  border: 2px solid #ffd100;
  border-radius: 4px;
  flex-grow: 1;
  margin-right: 20px;
}
.schooling:last-child {
  margin-right: 0;
}

.myEducation {
  display: flex;
  justify-content: space-between;
}
.connectMe {
  padding: 0;
}
.connectMe ul li {
  display: inline;
  margin-right: 20px;
}
.connectMe a {
  color: #ffd100;
}
.connectMe button {
  padding: 0;
}

.headshot img {
  clip-path: circle(46.23% at 49.89% 47.7%);
  width: 100%;
  height: 300px;
}
.flex-salutation {
  display: flex;
}
button {
  background: none;
  border: 0;
}

button img {
  height: 50px;
  width: 50px;
  margin-right: 30px;
}
.wrapper {
  height: 95vh;
}
.salutation {
  flex-grow: 2;
  margin-left: 30px;
}
.sizer {
  height: 95vh;
}
@media screen and (max-width: 420px) {
  .headshot img {
    height: 200px;
  }
}
